<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChoETL" version="1.2.0.5" targetFramework="net48" />
  <package id="ChoETL.JSON" version="1.2.0.5" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net472" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="18.1.0.59" targetFramework="net462" />
  <package id="Syncfusion.Licensing" version="18.1.0.59" targetFramework="net462" />
  <package id="Syncfusion.OfficeChart.Base" version="18.1.0.59" targetFramework="net462" />
  <package id="Syncfusion.OfficeChartToImageConverter.WPF" version="18.1.0.59" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="18.1.0.59" targetFramework="net462" />
  <package id="Syncfusion.Presentation.WinForms" version="18.1.0.59" targetFramework="net462" />
  <package id="Syncfusion.Presentation.Wpf" version="18.1.0.59" targetFramework="net462" />
  <package id="Syncfusion.PresentationToPdfConverter.Wpf" version="18.1.0.59" targetFramework="net462" />
  <package id="Syncfusion.SfChart.WPF" version="18.1.0.59" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>